.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 24px;
}

.ant-form-item {
    margin-bottom: 16px;
}

.ant-form-item label {
    font-weight: 500;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-input-number {
    padding: 10px;
}

.ant-btn-primary {
    width: 100%;
    background-color: #000000;
    border-color: #000000;
    height: 45px;
    font-size: 16px;
}
.ant-btn-primary:hover {
    background-color: #ffffff;
    color: #000000;
}
