/* Style cho phần Header */
.home-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-brand {
    display: flex;
    align-items: center;
}

.logo-brand img {
    height: 100px;
    margin-right: 8px;
}

.brand {
    font-size: 18px;
    font-weight: bold;
}

.brand span {
    color: orange;
}

/* Style cho phần Menu */
.home-menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Style cho các button trong phần Header */
.home-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Style cho phần Content */
.home-content {
    padding: 0 48px;
}

/* Style cho Carousel */
.home-carousel {
    margin: 0 5%;
}

.home-carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Style cho phần sản phẩm nổi bật */
.home-products {
    margin-top: 24px;
    text-align: center;
}

.home-products h2 {
    margin-bottom: 24px;
}

/* Style cho các Card sản phẩm */
.home-product-card {
    padding: 0 10px;
}

.home-product-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.ant-card .ant-card-body{
    padding: 10px;
}
.product-card {
    position: relative;
    overflow: hidden;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  .product-card:hover img {
    transform: scale(1.05); /* Zoom nhẹ khi hover vào ảnh */
  }
  
  .product-card .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu phủ đen với độ mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;
  }
  
  .product-card:hover .overlay {
    left: 0; /* Khi hover lớp phủ sẽ di chuyển từ trái sang */
  }
  
  .product-card .view-more-button {
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .product-card .view-more-button:hover {
    background: white;
    color: black;
  }
  